html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {

    width: 1000px;
    margin: auto;
    background-color: turquoise;

}

#header, #footer {
    width: 100%;
    height: 100px;
    background-color: pink;
}

/*
#content {
    display: flex;
} */

#content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 500px 200px;
}



.double_box {
    background-color: orange;
    grid-column: 2/4;
    grid-row: 1/2;
}