html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #222244;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    font-size: 40px;
    display: flex;
    background-color: #444466;
    color: white;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    border-radius: 25px 25px 0px 0px;  
}

#container {
    padding-top: 40px;
    margin: auto;
    width: 1300px;
    height: 1000px;
}

#content {
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1.1fr;
}

.side {
    background-color: white;
    height: 200px;
    width: 300px;
    padding-left: 20px;
}

.side h2 {
    font-size: 20px;
}

.centre {
    padding-left: 50px;
    margin-right: 50px;

}

hr {
    border-top: 0.5px dotted
}

img {
    width: 20%;
}

#footer {
    display: flex;
    background-color: #664443;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    border-radius: 0px 0px 25px 25px;

}
