html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

label {
    font-size: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}